.table-container {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    white-space: nowrap; /* Чтобы текст в ячейках таблицы не переносился на новую строку */
}

.table td, .table th {
    padding: 8px; /* Задаем отступы внутри ячеек таблицы */
    text-align: center; /* Выравниваем текст по центру ячеек таблицы */
}

@media (max-width: 768px) {
    .table td, .table th {
        font-size: 14px; /* Уменьшаем размер шрифта в ячейках таблицы для мобильных устройств */
        padding: 4px; /* Уменьшаем отступы внутри ячеек таблицы для мобильных устройств */
    }
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: #3498db;
    color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table-striped tbody tr.selected:nth-of-type(odd):not(.table-header) {
    background-color: #3498db;
    color: #fff;
}

tr:hover {
    cursor: pointer;
}