<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Employees</title>

<!--    <link rel="stylesheet"-->
<!--          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"-->
<!--          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"-->
<!--          crossorigin="anonymous" />-->


</head>

<body>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="coffee: ${coffees}" th:data-id="${coffee.id}">
            <td th:text="${coffee.id}" />
            <td th:text="${coffee.name}" />
        </tr>
        </tbody>
    </table>
    <button id="deleteButton" class="btn btn-danger">Удалить</button>
</div>

<style>
    .selected {
        background-color: #2766D1; /* Любой цвет, указывающий на выбор элемента */
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('tr').click(function() {
            $(this).toggleClass('selected');
        });

        $('#deleteButton').click(function() {
            const ids = [];
            $('.selected').each(function() {
                ids.push($(this).data('id'));
            });

            $.ajax({
                url: '/delete-rows',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(ids),
                success: function(response) {
                    alert('Записи успешно удалены');
                    location.reload();
                },
                error: function(xhr, status, error) {
                    alert('Произошла ошибка при удалении записей');
                }
            });
        });
    });
</script>

</body>
</html>