<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Employees</title>
<link rel="stylesheet" href="/css/add.css">
<link rel="stylesheet" href="/css/tablestyle.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>

<div class="table-container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="coffee: ${coffees}" th:data-id="${coffee.id}">
            <td th:text="${coffee.id}"></td>
            <td th:text="${coffee.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <button id="deleteButton" class="btn btn-danger mb-2">Удалить</button>
    <button id="editButton" class="btn btn-primary mb-2">Редактировать</button>
    <button id="openModalButton" class="btn btn-success mb-2">Добавить</button>
</div>

<div class="search-container">
    <label for="searchInput"></label><input type="text" id="searchInput" placeholder="Поиск по имени...">
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <label for="nameInput"></label><input type="text" id="nameInput" placeholder="Введите имя">
        <button id="addButton" class="btn btn-primary mb-2">Добавить</button>
    </div>
</div>
<div id="editModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="currentValue"> </div>
        <label for="nameInputEdit">Изменить значение:</label>
        <input type="text" id="nameInputEdit">
        <button id="saveButton">Сохранить</button>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/add.js"></script>
<script src="/js/delete.js"></script>
<script src="/js/edit.js"></script>
<script src="/js/search.js"></script>
</body>
</html>