<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Site</title>
</head>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">

<style>

    .sub-list {
        display: none;
        margin-top: 30px;
    }

    .sub-ellipse {
        width: 25px;
        height: 25px;
        background: #D9D9D9;
        border-radius: 50%;
    }

    .non-clickable {
        pointer-events: none;
        color: grey;
        cursor: default;
    }
</style>

<div class="MacbookAir1" style="width: 1280px; height: 832px; position: relative; background: white">

    <div class="Rectangle3" style="width: 1027px; height: 625.69px; left: 126px; top: 158px; position: absolute; background: #EFEFEF; box-shadow: 2.1575629711151123px 2.1575629711151123px 4.315125942230225px rgba(0, 0, 0, 0.25); border-radius: 21.58px"></div>
    <div class="Rectangle4" style="width: 925px; height: 541px; left: 177px; top: 200px; position: absolute; background: #979797; border-radius: 21.58px">

        <div class="SubPoints1" onclick="toggleSubList(this)">
            <div class="label">Отправка</div>
        </div>


        <div class="sub-list" th:if="${circle.getDeparture() != null}" style="display: none;">
            <div class="sub-ellipse">
                <div class="sub-label">

                </div>
            </div>
            <div class="sub-ellipse">
                <div class="sub-label">
                </div>
            </div>
        </div>

        <div class="SubPoints2" onclick="toggleSubList(this)">
            <div class="label">Прибытие</div>
        </div>

        <div class="sub-list" th:if="${circle.getArrival() != null}" style="display: none;">
            <div class="sub-ellipse">
            </div>
            <div class="sub-ellipse">

            </div>
        </div>

        <div class="EndPoints">
            <div class="label">Элемент 4</div>
        </div>


        <div class="Group4" style="width: 290px; height: 42px; left: 46px; top: 249px; position: absolute">
            <div class="SubPoints1" onclick="toggleSubList(this)" style="cursor: pointer; width: 74px; height: 42px; left: 0px; top: 255px; position: absolute; background: #F5CB5C; border-radius: 25px"></div>
            <div class="sub-list" th:if="${circle.getDeparture() != null}" style="display: none;">
                <div class="sub-points">
                </div>
                <div class="sub-points">
                </div>
            </div>
            <div class="Group6" style="width: 290px; height: 42px;">
                <div class="Rectangle12" style="width: 290px; height: 42px;position: absolute; background: #E8EDDF; border-radius: 25px"></div>
                <div class="Rectangle7" style="width: 74px; height: 42px; position: absolute; background: #F5CB5C; border-radius: 25px"></div>
                <div style="position: absolute; color: #333533; font-size: 23px;   font-weight: 400; text-transform: uppercase; letter-spacing: 0.46px; word-wrap: break-word">Конец</div>
            </div>
        </div>

    </div>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        function checkFields() {
            $('.sub-list').each(function() {
                let subList = $(this);
                let chinaLocation = subList.find('.china-location').text().trim();
                let deliveryDate = subList.find('.delivery-date').text().trim();
                let deliveryLocation = subList.find('.delivery-location').text().trim();
                let pickupDate = subList.find('.pickup-date').text().trim();

                if (chinaLocation === "-" && deliveryDate === "-" && deliveryLocation === "-" && pickupDate === "-")
                    subList.prev('.SubPoints1').addClass('non-clickable');
                else
                    subList.prev('.SubPoints1').removeClass('non-clickable');

                let stock = subList.find('.stock').text().trim();
                let russiaDeliveryDate = subList.find('.russia-delivery-date').text().trim();
                let direction = subList.find('.direction').text().trim();
                let checkpointDate = subList.find('.checkpoint-date').text().trim();

                if (stock === "-" && russiaDeliveryDate === "-" && direction === "-" && checkpointDate === "-")
                    subList.prev('.SubPoints2').addClass('non-clickable');
                else
                    subList.prev('.SubPoints2').removeClass('non-clickable');
            });
        }

        checkFields();

        function toggleSubList(element) {
            const subList = $(element).next('.sub-list');
            if ($(element).hasClass('non-clickable')) {
                return;
            }

            const rect3 = $('.Rectangle3');
            const rect4 = $('.Rectangle4');
            const line = $(element).find('.line');
            const subListHeight = subList.outerHeight(true);

            if (subList.is(':hidden')) {
                subList.show();
                rect3.css('height', parseInt(rect3.height()) + subListHeight + 'px');
                rect4.css('height', parseInt(rect4.height()) + subListHeight + 'px');
                line.css('height', parseInt(line.height()) + subListHeight + 'px');
            } else {
                subList.hide();
                rect3.css('height', parseInt(rect3.height()) - subListHeight - 20 + 'px');
                rect4.css('height', parseInt(rect4.height()) - subListHeight - 20 + 'px');
                line.css('height', parseInt(line.height()) - subListHeight - 20 + 'px');
            }
        }

        window.toggleSubList = toggleSubList;
    });
</script>

</html>