<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Site</title>

    <link rel="stylesheet" href="/css/details.css">

</head>

<body>
<div class="header">
    <img src="/icons/logo.png" alt="Logo" style="width: 100px;">
    <a href="/" style="color: white; text-decoration: none;">На главную</a>
</div>


<div class="main">
    <div class="workspace-header">

        <span id="containerNumber" th:text="${container.number}"></span>
        <span id="currLocation" th:text="${container.getCurrentLocation()}"></span>
        <span id="currDate" th:text="${container.getCurrentDate()}"></span>

        <span id="maxCircle"  style="display: none;" th:text="${container.getMaxCircle()}"></span>

        <button id="prevCircleButton" onclick="goToPreviousCircle()">←</button>
        <span id="circleNumber"></span>
        <button id="nextCircleButton" onclick="goToNextCircle()">→</button>
    </div>

    <div class="progress-bar"></div>

    <div id="buttonsContainer"></div>
    <div id="tablesContainer"></div>

</div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script th:inline="javascript">
    let maxCircle = parseInt(document.getElementById("maxCircle").innerHTML);

    let currentCircle = maxCircle;

    updateCircleNumber(currentCircle);

    function updateCircleNumber(circle) {
        document.getElementById('circleNumber').textContent = "Круг " + circle;
        currentCircle = circle;

        let containerNumber = document.getElementById('containerNumber').innerHTML;
        let currLocation = document.getElementById('currLocation').innerHTML;
        let currDate = document.getElementById('currDate').innerHTML;
        document.getElementById('containerNumber').textContent = containerNumber;
        document.getElementById('currLocation').textContent = currLocation;
        document.getElementById('currDate').textContent = currDate;

        checkButtonsState();
    }

    function goToPreviousCircle() {
        if (currentCircle > 1) {
            updateCircleNumber(currentCircle - 1);
        }
    }

    function goToNextCircle() {
        if (currentCircle < maxCircle) {
            updateCircleNumber(currentCircle + 1);
        }
    }

    function checkButtonsState() {
        if (currentCircle <= 1) {
            document.getElementById('prevCircleButton').disabled = true;
            document.getElementById('nextCircleButton').disabled = false;
        } else if (currentCircle >= maxCircle) {
            document.getElementById('prevCircleButton').disabled = false;
            document.getElementById('nextCircleButton').disabled = true;
        } else {
            document.getElementById('prevCircleButton').disabled = false;
            document.getElementById('nextCircleButton').disabled = false;
        }
    }
</script>

</html>