.selected {
    background-color: #3498db;
    color: #fff;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}
.table-striped tbody tr.selected:nth-of-type(odd) {
    background-color: #3498db;
    color: #fff;
}